* {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  background-color: #23252C;
  display: flex;
  justify-content: center;
}

.app {
  display: flex;
  margin-right: 117px;
  margin-left: 117px;
}


/* Info */
.cat-img {
  background-image: url('../public/jan-kopriva-IZ7W626JoQs-unsplash.jpg');
  background-position: center;
  background-size: cover;
  width: 317px;
  height: 317px;
  margin-top: 44px;
}

/* About */

.about-container {
  width: 317px;
  height: 399px;
  background-color: #F5F5F5;
}

.name {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #2B283A;
  padding-top: 20px;
}